/* change text width */
 .twitter-text {
    padding-left: 11px;
}
/* Header Text  */
 #twitter-feed h1, #twitter-feed h1 a {
    margin:0px;
    padding:6px  0;
    font-size:16px;
    font-weight:lighter;
}

/* Header Text link */
#twitter-feed h1 a {   

}
.tweetprofilelink {
	display:none;
	}
/* Tweet Text link 
 .tweetprofilelink a {
    color:#fff;
}
.tweetprofilelink a:hover {
    color:#fff;
}
 */ 
 /* change more after */

 
#twitter-feed {

}

.twitter-article, #loading-container {
    border-top:1px dotted #CCC;
    padding:3px 0px 3px 0px;
}
#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;
}
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border:none;
	margin: 10px 10px 10px 0;
 
}
.twitter-pic img  {
     border:none;
 }
.twitter-text {
    margin:0px;
}
.twitter-text a,  h1 a {
    text-decoration: none;
	font-weight:bold;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
}
 

 
.tweet-time {
    float:right;
}
.tweet-time a, .tweet-time a:hover {
}


.twitter-reply, .twitter-retweet, .twitter-favorite {
	width:15px;
	height:15px;	
	display:block;
	overflow:hidden;
	text-indent:2999px;	
	float:right;
	margin: 0 5px 0px 5px;
	background:url(../images/twitter-reply.png) top left no-repeat;
}

.twitter-retweet {
	background:url(../images/twitter-retweet.png) top left no-repeat;
}

.twitter-favorite {
	background:url(../images/twitter-favorite.png) top left no-repeat;
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {	

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {	
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
					
	}
	
/* #Target Smartphones
================================================== */
  @media screen and (max-device-width: 320px) and (orientation: portrait){}
  /* Target iPhone 4S Portrait */
  @media screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {}
  /* Target iPhone 4S Landscape */
  @media screen and (orientation:landscape) {

  }