body {
    font-size: 0.75rem;
    line-height: 1.5;
    padding-top: 56px;
    background-color: #fafbfc;
}

thead {
    font-size: .75rem;
    color: #4a4a4a;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.navbar-avatar {
    float: left;
    margin-right: 5px;
    width: 17px;
    max-height: 17px;
    border-radius: 50%;
    border: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.cross {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    vertical-align: text-top;
    color: #cb2431;
    vertical-align: text-bottom;
}

.check {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    vertical-align: text-top;
    color: #28a745;
    vertical-align: text-bottom;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f96b;
}

table {
    background-color: #FFFFFF;
}

tbody {
    font-size: .8em
}

label {
    font-weight: 600;
}

.label-inline {
    font-weight: normal;
    margin-bottom: 0;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 50px;
}

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.open > .dropdown-menu {
    display: block;
    width: 350px;
    padding: 6px;
}

.actions-button {
    width: 32px;
    height: 32px;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    margin-right: 12px;
}

.mall-title {
    font-size: 14px;
}

.mall-address {
    font-size: 12px;
}

.custom-select {
    font-size: .7rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: auto;
}

.btn {
    font-size: .75rem;
}

.shadow {
    box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px !important;
}

.card {
    border: 0px;
}

.card-body {
    background-color: #f8f9fa85;
}

.card-header {
    padding: 1.3rem 1.25rem;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-footer {
    background-color: #FFFFFF;
}

.list-group-item {
    background-color: #fbfcfc;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.alert {
    padding-bottom: 1.2rem;
}

.invalid-feedback {
    display: block;
    margin-left: .2rem;
}

.btn-light {
    border: 1px solid #e8ebef;
}

.form-control {
    font-size: .95rem;
}

textarea.form-control {
    font-size: .75rem;
    border: 1px solid #dbdbdb;
}

.custom-file {
    margin-top: 6px;
    width: 54%;
}

.custom-file-label {
    cursor: pointer;
}

.filters {
    display: flex;
}

h4 {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 12px;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

button, input, select, textarea {
    margin: 0;
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.select select:not([multiple]) {
    padding-right: 2.5em;
}

.select select {
    background-color: #fff;
}

.select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border-color: #dbdbdb;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    color: #4a4a4a;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    position: relative;
    vertical-align: top;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #c4c4c4 !important;
    right: 1.125em;
    z-index: 4;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .625em;
}

input {
    line-height: normal;
}

.file-field {
    margin-top: 4px;
}

.action_remove {
    font-size: .65rem;
}
