/* Error Layouts
============================= */
html { display: block; position: relative; padding: 0; margin: 0; width: 100%; height: 100%; background: none; }
body { display: block; position: relative; padding: 0; margin: 0; width: 100%; height: 100%; background: #413934; }

.error-block { width: 100%; height: 100%; background: no-repeat center top; }
.error-block a { display: block; width: 100%; height: 100%; }

.error400 { background-image: url('../img/errors/400.jpg'); }
.error401 { background-image: url('../img/errors/401.jpg'); }
.error403 { background-image: url('../img/errors/403.jpg'); }
.error404 { background-image: url('../img/errors/404.jpg'); }
.error500 { background-image: url('../img/errors/500.jpg'); }