@charset "utf-8";
/* CSS Document */

html {
    height: 100%;
}

body {
    font-size: 14px;
}

.mvie_review {
    background: #0c7eb8;
    color: #fff;
    padding: 2px 2px 2px 6px;
    bottom: 3px;
    text-align: center;
    font-size: 13px;
}

a.header-link {
    color: #697277;
    text-decoration: underline;
}

span.error
{
    color: #cf3227;
}

p.mvie_review a {
    color: #fff;
}

.border_top {
    border-top: 1px solid #ddd;
}

select {
    width: 95%;
}
.floatRight {
    float: right;
}

.my_label {
    float: left;
    padding-right: 40px;
    padding-top: 1px;
    text-align: right;
    width: 160px;
}

.my_label2 {
    float: left;
    padding-right: 40px;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}

.my_group {
    padding-bottom: 10px;
}

input, textarea, .uneditable-input {
    width: 95%;
}

.intro_img {
    position: relative;
    background: url(../img/intro_banner.jpg) no-repeat right top;
    min-height: 284px;
}

.content_img {

}

.inner-heading {
    padding: 20px 20px 0 20px;
    /*background: url(../img/content_bg2.jpg) no-repeat right top;*/
    /*height: 284px;*/
    height: 270px;
}

.inner-heading h1 {
    color: #fdc13a;
}

.inner-heading p {
    color: #fdc13a;
}

.slim-inner-heading {
    padding: 20px 20px 0 20px;
    /*background: url(../img/content_bg2.jpg) no-repeat right top;*/
    height: 84px;
    /*height: 270px;*/
}
.slim-inner-heading h1 {
    color: #fdc13a;
}

.slim-inner-heading p {
    color: #fdc13a;
}
.breadcrumb {
    /*position: absolute;*/
    /*left: 25px;*/
    /*bottom: 25px;*/
}

#breadcrumbs .breadcrumb a {
    color: #ffffff;
}
.breadcrumb a:hover {
    cursor:hand;
}
.breadcrumb > .active {
    /*color: #ffffff;*/
}

.breadcrumb > li > .divider {
    color: #ffffff;
}

.navbar .brand {
    padding: 15px 0 0 0;
    margin-right: 25px;
    margin-left: 0;
}

.navbar .nav {
    /*margin-top: 0;*/
}

.three {
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.three h4 {
    color: #1192d3;
}

.three .span4 {
    margin-bottom: 15px;
}

.middle-headings {
    margin-top: 10px;
}

.white-text {
    color: #fff;
}

.dotted-border h2
{
    color: #697277;
}
.main-slider h2 {
    float: right;
}

.paddLeft {
    padding-left: 30px;
}

.heading-text {
    text-align: left;
    margin-top: 145px;
}

.heading-text h1 {
    margin: 0 0 0 50px;
    padding: 10px;
    display: block;
    color: #fdc13a;
}

.heading-text p {
    color: #fff;
    font-size: 1.5em;
    background: #808080;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
}

.iphone-hand {
    margin-bottom: 200px;
}

.navbar .nav > li > a {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.navbar-inners.fixed-header-active .searchtophead {
    margin-top: 0;
    top: 5px;
    right: 60px;
}
.fc-widget-content {
    max-height: 60px;
}
.mallbg1 {
    background: #fff url(../img/mall_bgs/mall_bg1.jpg) no-repeat center top;
    padding: 5px 10px 20px;
    padding-top: 5px;
}

.hborderblue {
    border-bottom: 1px solid #8fbacf;
}

p.legendblue {
    border-bottom: 1px solid #8fbacf;
}

.blog-content {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 5px;
    display: block;
}

table {
    background-color: rgba(255, 255, 255, 0.8);
}

tr:hover td {
    background: #f6f6f6;
}

.hborder {
    border-bottom: 1px solid #89c0dc;
}

.bottomPadding
{
    padding-bottom: 20px;
}
.pull-top
{
    position: relative;
    bottom: 30px;
}
.lessPadding
{
    padding-bottom: -5px;
}
.biggerBottomPadding
{
    padding-bottom: 20px;
}

table {
    background-color: rgba(255, 255, 255, 0.9);
}

p.legend {
    border-bottom: 1px solid #89c0dc;
}

.tweet li {
    list-style: none;
}

#twitter-feed h1 {
    font-size: 14px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 22px;
    font-weight: 100;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
    background: #0c7eb8;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-inner .active {
    text-align: center;
}

.carousel-item img {
    /*max-height: 150px;*/
    width: 100%;
    height: auto;
}

.mall-slides {
    height: 200px;
    max-height: 200px;
    text-align: center !important;
}

.text-centre {
    text-align: center;
    background: #fff;
}

.text-center {
    text-align: center !important;
}

#map {
    width: 100%;
    height: 250px;
}

.searchtophead {
    position: absolute;
    top: 20px;
    right: 65px;
    margin: 0;
    z-index: 99999 !important;
}

.navbar .nav > li > a {
    color: #5d6269;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.navbar .nav > li > a:hover {
    color: #0c7fb8;
}

#header {
    position: relative;
}

.pagination {
    text-align: center;
}

#event_data {
    /*text-transform: capitalize;*/
}

.box-bg {
    background: #fff;
}

.container-fluid {
    padding: 0;
}

.fixed-header-container .navbar {
    height: auto;
}

.navbar .brand {
    float: none;
}

.navbar {
    margin-bottom: 0;
}

.home {
    background-color: #ffe374;
}

.navbar .nav {
    background: #cbdbea;
}
.navbar .nav > li > a
{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.navbar .fixed-header-active .nav {
}

.navbar .back_nav .nav {
    /*width: 100%;*/
    background: #ffd263;
}
.navbar .front_nav .nav {
    /*width: 100%;*/
    background: #9cd9f1;
}

#header {
    background: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #0c7fb8;
}

.box-wrap {
    box-shadow: none;
}

.social-icons a {
    display: block;
}

.dotted-border {
    padding: 5px 15px 15px 0;
    border-bottom: 1px dotted #48b0e4;
}

.white-bg {
    background: #fff;
}

.control-panel {
    padding: 20px;

    background: #48b0e4;
    color: #fff;
}

.yellow.control-panel
{
    padding: 20px;

    color: #000000;

}

.control-panel h4 {
    color: #c0e4f6;
    border-bottom: 1px dotted #fff;
    padding: 0px 0 15px 0;
}

.yellow.control-panel h4 {
    color: #697277;
    border-bottom: 1px dotted #fff;
    padding: 0px 0 15px 0;
}
.yellow.control-panel a {
    color: #0c7eb8;
}
.control-panel a {
    color: white;
}

.control-panel h4 span {
    display: block;
    padding: 2px 0 2px 30px;
}

.control-ico-about {
    background: url(../img/controlpanel/ico_about.gif) no-repeat left top;
}

.control-ico-comm {
    background: url(../img/controlpanel/ico_comm.gif) no-repeat left top;
}

.control-ico-links {
    background: url(../img/controlpanel/ico_links.gif) no-repeat left top;
}

.control-ico-posts {
    background: url(../img/controlpanel/ico_posts.gif) no-repeat left top;
}

.align-right {
    text-align: right;
}

h5 {
    padding: 10px;
    background: #fdc13a;
}

.yellow {
    background: #fdc13a;
    padding: 10px;
    margin-bottom: 15px;
}


.yellow ul li {
    padding: 5px 0 5px 0px;
}

.yellow ul li a {
    font-weight: bold;
}

.yellow ul li:hover {
}

label, input, button, select, textarea {
    font-size: 14px;
    color: #0c7eb8;
}

label {
    font-weight: bold;
}
.subscript
{
	font-size: 11px;
}
.twitter-pic img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* Custom Error Pages */
.error {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #ff0000;
}

.error404BG {
    background: #96060f url(../img/error404bg.gif) repeat-x;
    width: 100%;
    height: 100%;
}

.error500BG {
    background: #96060f url(../img/error500bg.gif) repeat-x;
    width: 100%;
    height: 100%;
}

.error403BG {
    background: #96060f url(../img/error403bg.gif) repeat-x;
    width: 100%;
    height: 100%;
}

.error404Holder {
    width: 100%;
    height: 100%;
    background: url(../img/error404main.jpg) no-repeat center top;
}

.error500Holder {
    width: 100%;
    height: 100%;
    background: url(../img/error500main.jpg) no-repeat center top;
}

.error403Holder {
    width: 100%;
    height: 100%;
    background: url(../img/error403main.jpg) no-repeat center top;
}

.autoMargin {
    width: 970px;
    height: 720px;
    margin: auto;
    position: relative;
    z-index: 100;
    font-family: 'Lato', sans-serif;
}

.autoMargin a {
    bottom: 0;
    display: block;
    height: 215px;
    left: 0;
    position: absolute;
    width: 930px;
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: right;
}

.applicant {
    position: relative;
}

.applicant .btn-mini {
    float: right;
}

.bigLeftMargin {
    background: #b4c6d6;
}

.padding {
    min-height: 15px;
}
.paddingTop {
    padding-top: 10px;
}
.logout {

    background: #e2ca83;
}
.blueH
{
    margin-top: 0px;
    margin-bottom: 10px;
    background: #a1d3e8;
    padding-top: 0px;
    padding-bottom: 0px;
}
.radioH
{
    line-height: 10px;
}
.leftMargin
{
    margin-left: 10px;
}
.rightMargin
{
    margin-right: 10px;
}
.topMargin
{
    margin-top: 10px;
}
.rightPadding
{
    padding-right: 10px;
}
.leftPadding
{
    padding-left: 10px;
}
.biggerRightPadding
{
    padding-right: 25px;
}
.biggerLeftPadding
{
    padding-left: 25px;
}
.biggerPadding
{
    padding: 25px;
}
.smallPadding
{
    padding: 10px;
}
.smallPaddingLeft
{
    padding-left: 10px;
}
.smallPaddingRight
{
    padding-right: 10px;
}
.smallerPadding
{
    padding: 9px;
}
.biggerPadding
{
    padding: 25px;
    padding-top: 10px;
}

.navDrop
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.colorBlue
{
    margin-top: 0px;
    margin-bottom: 10px;
    background: #b3e1f8;
    padding-top: 8px;
    padding-bottom: 12px;
    color:#5d6269
}

.biggerLeftMargin {
    margin-left: 25px;
}

.biggerRightMargin {
    margin-right: 25px;
}

.back_nav .bigLeftMargin {
    background: #cadbeb;
}

.feature-img {
    padding: 10px;
    background: #ffffff;
    text-align: center;
}

.slider-img {
    max-height: 180px;
}

.feature-img > img {
    height: 100% !important;
}

.responsive-banners {
    margin: 15px 0 15px 0;
}

.header-grey
{
    color: white;
    background: #f2f2f2;
    padding: 6px;
    color: #697277;

}

.header-blue {
    background: #1090d0;
    padding: 6px;
    color: white;
}

.header-blue h1 {
    color: #FFFFFF;
}

.comm-head h5 {
    background: none repeat scroll 0 0 #1090d0;
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.footer {
    padding: 20px;
}

.content-heading {
    background: none repeat scroll 0 0 #31353a;
    padding: 20px 0;
    position: relative;
    z-index: 100;
}

.nomargin {
    margin: -2px 0 0 0;
}

.pagination .nomargin {
    margin: -2px 0 0 0;
}

.searchtophead form {
    margin: 0;
}

@media (max-width: 970px) {

    .fontawesome-icon.medium.circle-center, .fontawesome-icon.medium.circle-white {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        width: 50px;
    }

    .fontawesome-icon.medium {
        font-size: 35px;
    }

    .fontawesome-icon.circle-center {
        background-color: #50555B;
        border-radius: 50px;
        color: #FFFFFF;
        margin-bottom: 5px;
        text-align: center;
    }

    .span7 h4, .span8 h4, .span9 h4 {
        font-size: 15px;
    }

    .heading-text h1 {
        font-size: 38px;
        color: #fdc13a;
    }

    .heading-text {
        margin-top: 105px;
    }

}

@media (max-width: 767px) {

    .intro_img {
        min-height: 284px;
        /*background: url(../img/intro_bg_mobile.jpg) no-repeat center bottom;*/
    }

    .animated {
        display: none;
    }

    .intro_img {
        min-height: 284px;
    }

    .three {
        display: none;
        width: 100%;
        padding-top: 10px;
    }

    .inner-heading {
        /*background: url(../img/content_bg.jpg) no-repeat right top;*/
        height: 50px;
    }

    .slim-inner-heading {
        /*background: url(../img/content_bg.jpg) no-repeat right top;*/
        height: 50px;
    }

}

@media (max-width: 640px) {

    .span8 h4, .span9 h4 {
        font-size: 20px;
    }

    .three .span4 {
        padding-left: 25px;
    }

    .paddLeft {
        padding: 0;
    }

}

@media (max-width: 480px) {

    .intro_img {
        background: url(../img/intro_bg_mobile.jpg) no-repeat center bottom;
        min-height: 284px;
    }

    .animated {
        display: none;
    }

    .paddLeft {
        padding: 0;
    }

}

.spaced
{
    margin-right: 20px;
}

.shopContact
{
    width: 150px;
    float: left;
}

.adminStatus
{
    margin-bottom: 5px;
}

.adminStatus .btn
{
    border-radius: 0;
    font-family: 'Raleway',sans-serif;
}


/* Contact Form */
#contactForm label.error {
    color: #FFD263;
}
/* Contact Form */

.p-l-5
{
    padding-left: 10px;
}


.span3-extended-ten {
    width: 280px !important;
}
.caption
{
    position:relative;
    height: 123px;
}

.mall-caption
{
    position:relative;
    
}

#weatherDiv
{
    position:absolute;
    right: -6px;
    top: -12px;
    width: 40%;
    /*background-color: #ededed;*/
    /*border: 1px solid #cccccc;*/
    /*padding: 15px 15px 5px 5px;*/
}

#weatherIcon
{
    /*width:64px;*/
    /*height:64px;*/
    padding: 0 5px;
    float:left;
    text-align: center;
}

#weatherTextHolder
{
    float:left;
    width: 25%;
    padding-top: 5px;
}

#weatherText
{
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight:normal;
    margin-bottom: 5px;
    text-align:center;
    color: #697277;
    padding-top: 7px;
}

#weatherDesc
{
    font-size:10px;
    text-align:left;
    color: #697277;
}

.navbar .nav > li > a.noLink
{
    cursor: default;
    background-color: #5d6269;
    color: #ffffff;

}

.navbar .nav > li > a.noLink:hover
{
    color: #ffffff;
}

.padLR-10
{
    margin: 0 10px;
}

.readmore
{
    position:absolute;
    top: 100px;
}

.reviewBtn
{
    color: #fff;
}


.calculator_img {
    background:url(../img/tax_calc.jpg) no-repeat left top;
}
.calculator_img {
    background:url(../img/tax_calc_mobile.jpg) no-repeat left top;
}

.creditCard
{
    margin: 2px;
}

.mall-caption > #map_canvas {
    height: 300px !important;
}

.mall-info {
    font-size: 12px;
}

.mall-info address {
    margin-left: 10px;
    margin-bottom: 0px;
}

.mall-info dl {
    /*margin-left: 10px;*/
    margin: 5px;
}

.capital-uppercase {
    text-transform: uppercase;
}

.mall-trading-hours td {
    font-size: 11px;
}

.text-thirteen {
    font-size: 13px;
}

.no-margin {
    margin: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}


a.dark-link {
    color: #333;
    text-decoration: underline;
}

div.alpha-sorter {
    padding: 3px 5px 3px 5px;
    color: #333;
}

div.alpha-sorter a {
    color: #333;
    text-decoration: underline;
}

div.alpha-sorter span.current {
    color: #333;
    /*text-decoration: none;*/
    font-weight: bold;
}

.alert-info {
    background-color: #47a5d1;
    border-color: #47a5d1;
    color: #fff;
}

.alert-note {
    background-color: #47a5d1;
    border-color: #47a5d1;
    color: #fff;
    margin-bottom: 0px;
    /*background-color: transparent;
    border-color: #47a5d1;
    color: #333;
    border-style: dashed;*/
}

div.mall-caption div.hborder > h4 {
    max-width: 256px;
}


.left-scroll-arrow, .right-scroll-arrow, .up-scroll-arrow, .down-scroll-arrow {
    background: url('../img/arrow_360.png');
    width: 25px;
    height: 25px;
    position: absolute;
    /*cursor: pointer;*/
}


.left-scroll-arrow {
    background-position: 0px 25px;
    left: 3px;
    top: 40%;
}

.right-scroll-arrow {
    background-position: 75px 25px;
    right: 3px;
    top: 40%;
}

.up-scroll-arrow {
    background-position: 50px 50px;
    right: 40%;
    top: 3px;
}

.down-scroll-arrow {
    background-position: 50px 75px;
    right: 40%;
    bottom: 17%;
}


.right-scroll-arrow-disabled {
    background-position: 25px 0px;
}

.left-scroll-arrow-disabled {
    background-position: 0px 0px;
}

.up-scroll-arrow-disabled {
    background-position: 25px 50px;
}

.down-scroll-arrow-disabled {
    background-position: 25px 75px;
}

#mall-image-map {
    background-position: 0px 0px;
    cursor: pointer;
}

#mapPointer {
    position: absolute;
}

#mall_map {
    /*border: 0px solid #333;*/
}

.vertical-middle {
    vertical-align: middle !important;
}

.heading-info {
    background-color: #80C4F0;
}
.heading-info > h3 {
    font-size: 33px;
    margin: 0px;
    cursor: pointer;
}

.heading-info > h3 > a {
    color: #fff;
}

.panel-heading > h6 {
    margin: 0px;
}

#top_shops {
    padding: 0px;
}


/* Panel styles     ->  from Bootstrap 3 */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title > a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.list-group + .panel-footer {
    border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
    margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-right: 15px;
    padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
    border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
    border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
}
.panel > .table-responsive {
    margin-bottom: 0;
    border: 0;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd;
}
.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}
.panel-primary {
    border-color: #337ab7;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
    color: #337ab7;
    background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6;
}
.panel-info {
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1;
}
.panel-warning {
    border-color: #faebcc;
}
.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
    color: #f2dede;
    background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1;
}
/* Panel styles     ->  from Bootstrap 3 */
/* Panel styles     ->  Custom */
.panel-small {
    margin-bottom: 0px;
}

.panel-small .panel-heading {
    padding: 5px;
}

.panel-small .panel-body {
    padding: 5px;
}
/* Panel styles     ->  Custom */

#top_shop_list .panel-body > table {
    border: 0px;
    margin-bottom: 0px;
}
#top_shop_list .panel-body {
    padding: 0px;
}

.mall-caption .accordion-inner {
    padding: 0px;
}

.mall-caption .accordion-inner table {
    border: 0px;
}

.mall-caption .accordion-inner th:first-child, .mall-caption .accordion-inner td:first-child {
    border-left: 0px;
}

.mall-showtimes {
    font-weight: normal !important;
    cursor: pointer;
}

#showing_list {
    padding: 10px;
}

.margin-top-five {
    margin-top: 5px;
}

.fluid-width {
    width: auto;
}

.mall-tabs > a {
    text-transform: uppercase !important;
}