

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.spinner {
    position: relative;
}

.spinner:before,
.spinner:after {
    content: "";
    position: relative;
    display: block;
}

.spinner:before {
    animation: spinner 2.5s cubic-bezier(0.750, 0.000, 0.500, 1.000) infinite normal;
    width: 1em;
    height: 1em;
    background-color: #fff;
}


.spinner:after {
    animation: shadow ,2.5s, cubic-bezier(0.750, 0.000, 0.500, 1.000), infinite normal;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background-color:#444444;
}




@keyframes spinner {

    50% {
        border-radius: 50%;
        transform: scale(.5) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(720deg);
    }

}

@keyframes shadow {

    50% {
        transform: scale(.5);
        background-color: #444444;
    }

}