/* Page-specific styles */
body {
    /*padding-top:40px; */
    font-size: 12px;
}

.breadcrumb { margin-top:20px; }

.my_label {
    float: left;
    padding-right: 40px;
    padding-top: 1px;
    text-align: right;
    width: 160px;
}
.my_label2 {
    float: left;
    padding-right: 40px;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}

.required_asterisk{
    font-size: 25px;
}

.my_group {
    padding-bottom: 10px;
}

.leftMargin
{
    margin-left:10px;
}
.paddingTop{
    padding-top: 10px;
}
.bigLeftMargin {
        margin-left:25px;
    }

.home {
         background-color: #c7e9ff;
    }
.btn_top {
        margin-top:3px;
    }
.footer {
    background-color: #EEEEEE;
    border-top: 1px solid #E5E5E5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
    min-width: 940px;
    padding: 30px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
.masthead {
    margin-bottom: 72px;
    padding-top: 36px;
}
.fc-widget-content {
    max-height: 70px;
}
.masthead h1, .masthead p {
    text-align: center;
}
.masthead h1 {
    margin-bottom: 18px;
    font-size:42px;
}
.masthead p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 5%;
    margin-right: 5%;
}
.row { margin-bottom: 20px; }

.dvLoading
{
   position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

.hugeText
{
    font-size: 18px;
}

.clockText {
    font-size: 30px;
}
.checkAll, .checkAll label
{
    font-weight: normal;
    padding-left: 14px;
}

.padRight
{
    position:relative;
    padding-right: 30px;
    padding-top:7px;
}

/*#floater {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 10px;*/
/*}*/

.row {
    margin-bottom: 20px;
}

.adminTableText td
{
    font-size: 11px;   
}

select, input, textarea
{
    font-size: 12px;
}

.captcha
{
    margin-top: 33px;
    /*margin-bottom: 68px;*/
    background-image: url(../img/dragBG.png);
    background-repeat: no-repeat;
    width:372px;
    height: 85px;
    left:10px;
}

.hugeGreenText
{
    font-family: focoregular;
    color: #41a940;
    font-size: 28px;
}

.hugeOrangeText
{
    font-family: focoregular;
    color: #ff5800;
    font-size: 28px;
}

.invertedGreenBar
{
    background-color: #41a940;
    color: #ffffff;
    /*height: 63px;*/
    margin-bottom: 33px;
    padding: 23px 10px 20px 16px;
    padding-top: 23px;
    line-height: 2em;
    min-height: 63px;
    /*padding-left: 33px;*/
}

.adminContainer{
    margin-top:100px;
}


main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    position: relative;
}

.success
{
    color: #009926;
    font-size:16px;
}

.danger
{
    color: #ff0000;
    font-size:16px;
}

/* Admin */
.force-inline {
    display: inline !important;
}
/* Admin */

.typeahead
{
    width: 300px;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    /*max-height: 200px;*/
    /*overflow-y: auto;*/
}


.tt-hint {
    color: #999;
}



.tt-suggestion {
    /*padding: 3px 20px;*/
    /*font-size: 18px;*/
    line-height: 24px;
    width:500px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #9358ac;

}

.tt-suggestion p {
    margin: 0;
}

.tt-dataset-mall-names
{
    
}

.twitter-typeahead
{
    margin-bottom: 20px;
}

.tt-dropdown-menu
{
    background-color: #fff;
    padding: 5px;
}

.accordion-body{
    background-color: #ededed;
}
.padLR-10
{
    margin: 0 10px;
}


div.crop-controls {
    margin-top: 10px;
}

div.controls div.btn-control {
    float: right;
    margin-right: 55px;
}
div.controls div.btn-control a {
    margin-bottom: 5px;
}

.top-margin {
    margin-top: 10px;
}

#mapPointer
{
    position: absolute;
}

.module-image-control {
    margin: 15px 10px;
}