
/* Table of Contents
==================================================
    #General
    #Header
    #Content
    #Footer */

/* General
============================= */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

html {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background: none;
    overflow: visible;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
}
.h2, h2 {
    font-size: 50px;
}
b, strong {
    font-weight: 800;
}
hr {
    border-top: 1px solid #fff;
}
a,a:active,a:hover,a:focus,a:visited  {
    color: #06badf;
	text-decoration: none;
	background-color:transparent;
}
.modal-content {
    background-color:#06b7e0;
	border: 1px solid #06b7e0;
}
.modal-body {
    background: url("/assets/images/modal.png") top right no-repeat;
    background-size: contain;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    float: left;
}

.homepage {
	background:url("/assets/images/mallguide-bg.jpg") top center no-repeat;
	background-size: cover;
}
.shops {
	background:url("/assets/images/mallguide-bg02.jpg") top center no-repeat;
	background-size: cover;
}
.malls {
	background:url("/assets/images/mallguide-bg03.jpg") top center no-repeat;
	background-size: cover;
}
.promotions {
	background:url("/assets/images/mallguide-bg04.jpg") top center no-repeat;
	background-size: cover;
}
.movies {
	background:url("/assets/images/mallguide-bg05.jpg") top center no-repeat;
	background-size: cover;
}
.competitions {
	background:url("/assets/images/mallguide-bg06.jpg") top center no-repeat;
	background-size: cover;
}
.entertainment {
	background:url("/assets/images/mallguide-bg07.jpg") top center no-repeat;
	background-size: cover;
}
.jobs {
	background:url("/assets/images/mallguide-bg08.jpg") top center no-repeat;
	background-size: cover;
}

.search {
	background:url("/assets/images/search.png") top center no-repeat;
	background-size: cover;
	height: 100px;
	display: block;
	width: 100px;
	float: right;
}
.menu {
	background:url("/assets/images/menu.png") top center no-repeat;
	background-size: cover;
	height: 100px;
	display: block;
	width: 150px;
	float: right;
}
span.highlight {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #25d2fa;
	font-size:50px;
	line-height:60px;
	font-weight:700;
}
span.purple {
	color:transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color:#6d4d96;
	font-size: 100px;
	line-height: 100px;
	font-weight: 700;
	font-family: "Oswald";
}
.searchbg {
	background: rgb(5,164,204);
	background: linear-gradient(225deg, rgba(5,164,204,1) 0%, rgba(6,176,215,1) 35%, rgba(4,160,196,1) 100%);
	border-radius:4px;
	padding:50px 30px;
	color:#2f76e8;
	margin-bottom: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.bluebocks {
	background:#2f77e8;
	color:#06b8dc;
	border-radius:4px;
	width:100%;
	padding:20px 30px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align:center;
	font-family: "Oswald";
	font-size: 20px;
}
.bluebocks:hover {box-shadow: 1px 1px 10px #000;}
.darkblueblocks {background:#00426d;color:#fff;width:100%;padding:50px 30px;border-radius:4px;margin-bottom: 20px;}
.darkblueblocks:hover {box-shadow: 1px 1px 10px #000;}
.mallbluebocks {
	background:#2f77e8;
	color:#06b8dc;
	border-radius:4px;
	width:100%;
	padding:20px 30px;
	margin-bottom: 20px;
	text-align:center;
	font-family: "Oswald";
}
.bluetext {color:#06badf;font-weight: 700;font-family: 'Oswald', sans-serif;font-size: 18px;text-transform: uppercase;}
.bluetextthin {color:#06badf;font-weight: 300;font-family: 'Oswald', sans-serif;font-size: 18px;}
.whitetextthin {color: #fff;font-weight: 300;font-family: 'Oswald', sans-serif;font-size: 18px;}
.darkbluetext {color:#00426d;font-weight: 400;font-family: 'Oswald', sans-serif;font-size: 20px;}
.iconwrap {position:relative;min-height: 80px;}
.iconblock {position:absolute;top:-70px;}
.font15 {font-size: 15px;}
.font30 {font-size: 30px;font-family: 'Oswald', sans-serif;}
.load-more {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 2px solid #06badf;
    display: block;
    border-radius: 50%;
    padding: 60px 25px;
}
.line {
    width: 100%;
    background: #06b8dc;
    height: 2px;
}
.whitebold {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.purplebold {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
	color:#6a4e98;
}

.card {
    background: #2f77e8;
	border:none;
}
.card-body {
    flex: 1 1 auto;
    min-height: 160px;
    padding: 1.25rem;
}
.border-pic {
    border-radius: 4px;
}

/*ANIMATED HOVER LINK STYLES*/
.cool-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
	color:#fff;
    //transition: width .3s;
}
a.cool-link {
	color:#06badf;
}
a.cool-link:hover {
	color:#fff;
}
/*ACCORDION STYLES*/

.accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
    background: rgb(249,101,15);
    background: linear-gradient(56deg,rgb(249, 101, 15) 0%, rgb(249, 101, 15) 0%,rgb(236, 58, 7) 100%);
    border: none;
	border-radius: 6px;
    margin-bottom: 10px;
	color:#fff;
	font-family: 'Oswald', sans-serif;
}
.fa.fa-angle-down.rotate-icon {
    float: right;
}

/*2 STAGE ACCORDION STYLES*/

.panel-heading {
    background: linear-gradient(56deg,rgb(249, 101, 15) 0%, rgb(249, 101, 15) 0%,rgb(236, 58, 7) 100%);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.panel-blue {
    background: #06b7e0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.panel-title {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald";
}
a.collapsed {
    color: #fff;
}
/*BUTTONS*/
.btn-group, .btn-group-vertical {
    display: block;
}
.btn-primary {
    color: #fff;
	background-color:#fe6b03;
	border-color:#fe6b03;
    width: 100%;
}
.btn-secondary {
    color: #fff;
	background-color:transparent;
	border-color: #fff;
    width: 100%;
    text-align: left;
}
.btn-group-sm > .btn, .btn-sm {
    padding: 10px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0 solid;
    border-right: 0 solid transparent;
	border-bottom: 0;
	border-left: 0 solid transparent;
}

/*LOAD MORE*/
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.stores {
	display: none;
}
.noContent {
	 pointer-events: none;
}

/*MENU*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 5px 5px 5px 25px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*PADDING STYLES*/
.p-10 {padding:10px;}
.p-20 {padding:20px;}
.p-50 {padding:50px;}
.p-100 {padding:100px}
.p-150 {padding:150px;}

.p-t-10 {padding-top:10px;}
.p-t-20 {padding-top:20px;}
.p-t-50 {padding-top:50px;}
.p-t-100 {padding-top:100px}
.p-t-150 {padding-top:150px;}

.p-b-10 {padding-bottom:10px;}
.p-b-20 {padding-bottom:20px;}
.p-b-50 {padding-bottom:50px;}
.p-b-100 {padding-bottom:100px}
.p-b-150 {padding-bottom:150px;}

.p-lr-0 {padding-left:0px;padding-right:0px;}

.p-tb-20 {padding-top: 20px;padding-bottom: 20px;}

.m-tb-50 {margin-top:50px;margin-bottom:50px;}

/*OWL SLIDER HOMEPAGE*/
.item {
    width: 100%;
    height: 410px;
    background: #fff;
    border-radius: 4px;
	padding:30px;
}
.item h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.scroll01 {background:url("/assets/images/mallguide-01.jpg") top center no-repeat;background-size:cover;}
.scroll02 {background:url("/assets/images/mallguide-02.jpg") top center no-repeat;background-size:cover;}


.form-inline .form-control {
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
}
.btn-outline-success {
    color: #fff;
	border-color:#fe6b03;
	background:#fe6b03;
}
/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Media Queries
============================= */
@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
	.iconblock {
		position: relative;
		top: 0px;
	}
}

@media screen and (min-width: 768px) and (max-height: 767px) {

}

@media screen and (max-width: 767px) {
	.p-50 {
		padding: 20px;
	}
	.iconblock {
		position: relative;
		top: 0px;
	}
	span.highlight {
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #fff;
		font-size: 40px;
		line-height: 50px;
	}
	.menu {
		height: 60px;
		width: 90px;
	}
	.search {
		height: 70px;
		width: 50px;
	}
}